wordcloud_*

학기말*

.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json

.Obsidian/plugins/remember-cursor-position/cursor-*

.Obsidian/work*

.trash/

.obsidian/plugins/remember-cursor-position/cursor-positions.json

.obsidian/workspace.json

.obsidian/plugins/recent-files-obsidian/data.json

.obsidian/plugins/obsidian-completr/scanned_words.txt

.obsidian/plugins/recent-files-obsidian/data.json

.obsidian/plugins/remember-cursor-position/cursor-positions.json

.obsidian/workspace.json
